{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="{% static 'movies/styles.css' %}">
</head>
<body>
    <h1>Movies</h1>
    <a href="{% url 'add_movie' %}">Add a new movie</a>
    <div class="container">
        {% for movie in movies %}
            <div class="movie-card">
                <a href="{% url 'movie_detail' movie.id %}">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.release_date }} | {{ movie.country }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
